*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.red{
    color: red;
}
section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
section form{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
section form div{
    padding-bottom: 10px;
}
